.main {
    background: linear-gradient(to right, #00b5ad 50%, #fbbd08 50%);
    overflow: hidden;
}

.login {
    position: relative;
    margin-top: 300px;
    margin-left: 600px;
    margin-right: 600px;
}

.logo {
    width:300px;
    height:300px;
}

.register {
    width: 300px;
}

.forgot {
    width: 300px;
}